.nabAddToCartBtnIcon {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.cartIconWrapper {
  position: relative;
  display: inline-block;
}

.cartBadge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: rgba(0, 0, 0, 0.874);
  color: white;
  border-radius: 50%;
  padding: 3px;
  font-size: 10px;
  font-weight: bold;
  min-width: 11px;
  text-align: center;
}

.CartPageMainContainer {
  display: flex;
  overflow: hidden;
  height: 99svh;
}

.rrr {
  width: 328px;
  border-right: 1px solid rgb(206, 206, 206) !important;
  scroll-behavior: smooth;
  @media (max-width: 750px) {
    display: none;
  }
}

.cartProductList {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 5px;
  @media (max-width: 750px) {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scroll-behavior: smooth;
  }
}

.cartAndCLoseCart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartAndCLoseCart img {
  width: 18px;
  height: 18px;
  padding: 3px;
  border: 0.4px solid rgb(206, 206, 206);
  border-radius: 50%;
  opacity: 0.5;
  cursor: pointer;
}

.cartAndCLoseCart img:hover {
  opacity: 1;
  scale: 1.08;
  transition: scale 0.3s ease-in-out;
  border-color: #000;
}

.cartRecommendationMini {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  width: 100%;
  flex-direction: column;
  display: none;
  @media (max-width: 750px) {
    display: flex;
  }
}

.cartProductMain {
  overflow: hidden;
  width: 450px !important;
  @media (max-width: 750px) {
    width: 100% !important;
  }
}

.css-eydqou-MuiPaper-root-MuiDrawer-paper {
  width: 780px !important;
  cursor: default;
  @media (max-width: 780px) {
    width: 750px !important;
  }
  @media (max-width: 750px) {
    width: 87% !important;
  }
}

/* for Deployment Version */
.css-na684 {
  width: 780px !important;
  cursor: default;
  @media (max-width: 780px) {
    width: 750px !important;
  }
  @media (max-width: 750px) {
    width: 87% !important;
  }
}

.recommendedProductCardMain {
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recommendationProductsCartPage {
  width: fit-content;
  margin-top: 20px;
  font-size: 16px !important;
  letter-spacing: 2.2px !important;
  margin-bottom: 5px;
}

.ttt {
  height: calc(100% - 72px);
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

.recommendedProductsCartPage {
  overflow: auto;
  scrollbar-width: thin;
  padding-inline: 25px;
  padding-bottom: 20px;
  flex-direction: column;
  display: flex;
  gap: 10px;
}

.recommendedProductsCartPageSingle {
  height: 88px;
  padding-block: 8px;
  display: flex;
  gap: 15px;
}

.cartProductImg img {
  cursor: pointer;
  width: 70px;
  height: 88px;
  object-fit: contain;
  scale: 1.1;
  transition: scale 0.3s ease-in-out;
}

.cartProductImg img:hover {
  scale: 1.2;
}

.cartProductImg {
  background-color: #f2f2f2;
  min-width: 70px;
  height: 88px;
  overflow: hidden;
}

.cartProductName {
  width: fit-content;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.6px;
  display: -webkit-box !important;
  box-sizing: border-box;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  -webkit-font-smoothing: antialiased;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: rgb(26, 27, 24);
}

.cartProductName::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.4px;
  width: 0;
  background-color: rgba(40, 40, 40, 0.423);
  transition: width 0.25s ease-in-out;
}

.cartProductName:hover::before {
  width: 100%;
}

.cartProductDetails {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cartProductPrice {
  line-height: 32px;
  margin-right: 8px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.63px;
}

.cartProductMrp {
  margin-top: 6px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 300;
  color: rgb(103, 102, 102);
  text-decoration: line-through;
}

.cartAddToCart {
  width: fit-content;
  font-size: 10.5px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 25px;
  cursor: pointer;
  border-inline: 0.4px solid transparent;
  border-top: 0.4px solid transparent;
  padding-inline: 6px;
  border-bottom: 0.4px solid rgb(206, 206, 206);
  text-transform: uppercase;
  transition: border 0.2s ease-in-out;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.cartAddToCart:hover {
  border: 0.4px solid rgb(206, 206, 206);
}

.rightArrow {
  width: 13px;
}

/* Recommended Product Mini */

.recommendedProductCard {
  gap: 8px !important;
  width: 100% !important;
  overflow-x: auto; /* Enable horizontal scroll */
  display: flex;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.cartRecommendedProductsImgMiniMain {
  background-color: #f2f2f2;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.cartRecommendedProductsImgMini {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  padding-block: 5px;
  transition: all 0.2s ease-in-out;
}

.cartRecommendedProductsImgMini:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease-in-out;
}

.cartRecommendedMiniSingle {
  min-width: 130px !important;
}

.miniProductRecommended {
  width: fit-content;
  margin-block: 0px !important;
  line-height: 22px !important;
}

.miniRecommendedHeading {
  display: flex;
  margin-bottom: 15px;
}

.CartSectionHeading {
  display: flex;
  margin-block: 25px;
}

.textDesign {
  border-bottom: 0.4px solid rgb(206, 206, 206);
}

.hhBLeft {
  width: 25px !important;
}

.hhBRight {
  width: calc(100% - 198px);
}

.recommendedCartBtn {
  width: 100% !important;
  min-height: 26px !important;
  font-size: 10px !important;
}

.searchCardMrp {
  display: block;
  font-size: 13px !important;
  text-decoration: line-through;
  color: #00000098;
}

.marqueeText {
  display: flex;
  justify-content: flex-start;
  /* border: 1px solid red; */
  overflow: hidden;
}

.marqueeText span {
  font-size: 12.4px;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 0.83px;
  padding: 0 60px;
  line-height: normal;
  font-weight: 500;
  color: red;
  animation: scrollLeft 6000ms linear infinite;
  @media (max-width: 450px) {
    font-size: 11.5px;
  }
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0); /* Start from the right */
  }
  100% {
    transform: translateX(-100%); /* Move to the left */
  }
}

.cartProductListTopSection {
  padding-inline: 20px;
  @media (max-width: 530px) {
    padding-inline: 10px;
  }
}

.cartProductListBottomSection {
  overflow: auto;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  height: 100%;
  padding-inline: 20px;
  @media (max-width: 530px) {
    padding-inline: 10px;
  }
}

.cartItemsProductDetails {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.checkOutBtnMain {
  padding-inline: 20px;
  padding-block: 10px;
  border-top: 0.4px solid rgb(206, 206, 206);
}

.checkOutBtn {
  width: 100% !important;
}

.shippingText {
  font-size: 13px;
  line-height: 19.4px;
  letter-spacing: 0.4px;
  margin-block: 10px;
  @media (max-width: 342px) {
    text-align: center;
  }
}

.shippingPolicyLinkText {
  cursor: pointer;
  font-weight: 600;
}

.cartIsEmpty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 40px;
}

.emptyCartProductsLink {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.emptyCartText {
  font-size: 20px;
  letter-spacing: 0.83px;
  font-weight: 550;
}

.cartItemsProductImg img {
  width: 70px;
}

.cartItemsProduct {
  padding-block: 15px;
  border-bottom: 0.2px solid rgb(206, 206, 206);
}

.cartItemProductTop {
  display: flex;
  gap: 15px;
}

.cartItemsProductDetails {
  width: 100%;
}

.cartSingleNameAndCloseBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartSingleNameAndCloseBtn img {
  width: 14px;
  cursor: pointer;
}

.cartSingleNameAndCloseBtn img:hover {
  scale: 1.1;
  transition: scale 0.3s ease-in-out;
}

.cartItemSingleName {
  position: relative;
  font-size: 14px;
  letter-spacing: 0.6px;
  line-height: 18px;
  margin-right: 20px;
  overflow: hidden;
  text-align: left;
  /* for text not wrapping */
  display: -webkit-box !important;
  text-overflow: ellipsis;
  -webkit-font-smoothing: antialiased;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.cartItemSingleName::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.4px;
  width: 0;
  background-color: rgba(40, 40, 40, 0.423);
  transition: width 0.25s ease-in-out;
}

.cartItemSingleName:hover::before {
  width: 100%;
}

.buyMoreSaveMore {
  margin-top: 2px;
  font-size: 12px;
  letter-spacing: 0.6px;
  text-transform: capitalize;
  line-height: 18px;
  color: green;
  font-weight: 400;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.buyMoreSaveMore img {
  width: 13px;
  opacity: 0.5;
}

.buyMoreSaveMoreDiscount {
  margin-top: 2px;
  font-size: 12px;
  letter-spacing: 0.6px;
  text-transform: capitalize;
  line-height: 18px;
  color: rgb(103, 102, 102);
  font-weight: 400;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.buyMoreSaveMoreDiscount img {
  width: 14px;
}

.cartItemProductBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartQuantityBtn {
  border: 0.2px solid rgb(206, 206, 206);
  display: flex;
  padding-inline: 10px;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
}

.cartQuantityBtn img {
  width: 10px;
  cursor: pointer;
  opacity: 0.5;
}

.cartQuantityBtn img:hover {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.cartItemProductPrice {
  display: flex;
  gap: 6px;
}

.cartItemProductPriceMrp {
  font-size: 14px;
  font-weight: 300;
  color: rgb(103, 102, 102);
  text-decoration: line-through;
  @media (max-width: 550px) {
    font-size: 12px;
  }
}

.cartItemProductPPrice {
  font-size: 17.2px;
  font-weight: 500;
  line-height: 21.6px;
  letter-spacing: 0.63px;
  @media (max-width: 550px) {
    font-size: 15.5px;
  }
}

.cartItemsCount {
  text-align: center;
  margin-block: 30px;
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  line-height: 21.6px;
  letter-spacing: 0.63px;
  @media (max-width: 550px) {
    font-size: 10px;
  }
}
