.firstBanner {
  padding-block: 32px;
  @media (max-width: 750px) {
    padding-block: 24px;
  }
}

.firstBanner img {
  width: 100%;
  display: block;
}

.SectionHeading {
  text-align: center;
  border: none;
  color: #000;
  font-size: 29.5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 37.8px;
  margin-bottom: 30px;
  @media (max-width: 750px) {
    font-size: 21px;
    margin-bottom: 20px;
  }
}

.mainDiv {
  padding-inline: 2%;
}

.catMain {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}

.catCard {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.cateImageName {
  padding-bottom: 3px;
  position: relative;
  font-size: 16.8px;
  line-height: 21.6px;
  letter-spacing: 0.63px;
  font-weight: 500;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: rgb(26, 27, 24);

  @media (max-width: 750px) {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 2px;
  }
  @media (max-width: 275px) {
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 1px;
  }
}

.cateNameHover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.9px;
  width: 0;
  background-color: rgba(40, 40, 40, 0.423);
  transition: width 0.25s ease-in-out;
}

.cateNameHover:hover::after {
  width: 100%;
}

.luxuryCategoryMap {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(171px, 1fr));
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.luxuryCatImage {
  width: 100%;
  display: block;
  transition: transform 0.3s ease-in-out;
}

.luxuryCatImage:hover {
  transform: scale(1.05);
}

@media (min-width: 991px) {
  .luxuryCategoryMap {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 990px) {
  .luxuryCategoryMap {
    grid-template-columns: repeat(2, 1fr); /* 2 items per row */
  }
}

.luxePerfumesSectionMain {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  @media (max-width: 750px) {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

.luxePerfumesImg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.relativeContainer {
  position: relative; /* New wrapper around image and dots */
  display: inline-block; /* Ensures that the width of the wrapper matches the image */
}

.luxePerfumesImg img {
  width: 100%;
  display: block;
}

.luxePerfumesCard {
  transition: all 0.25s ease-in-out;
}

.prodCardMain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 750px) {
    display: block;
  }
}

.prodCard {
  position: relative;
  width: 68%;
  @media (max-width: 750px) {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
}

.luxeCardBadge {
  @media (max-width: 750px) {
    display: none !important;
  }
}

.prodCardImgLuxury {
  @media (max-width: 750px) {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.ProdCardImg {
  position: relative;
  cursor: pointer;
  width: 100%;
}

.prodCardBottom {
  @media (max-width: 750px) {
    width: 60%;
  }
}

.dotsHover {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.dots {
  animation: pulse 1.5s infinite ease-in-out;
  position: absolute;
  background-color: #ffffff56;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  @media (min-width: 750px) and (max-width: 1000px) {
    width: 32px;
    height: 32px;
  }
  @media (max-width: 500px) {
    width: 32px;
    height: 32px;
  }
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot-1 {
  left: 17.9%;
  top: 68%;
  @media (max-width: 490px) {
    left: 17.5%;
  }
  @media (max-width: 385px) {
    left: 16%;
  }
}

.dot-2 {
  left: 46%;
  top: 66%;
  @media (max-width: 385px) {
    left: 45%;
  }
}

.dot-3 {
  left: 75.5%;
  top: 68%;
  @media (max-width: 490px) {
    left: 75%;
  }
  @media (max-width: 385px) {
    left: 74%;
  }
}

.inner-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
}

.innerDotActive {
  width: 29px;
  height: 29px;
  transition: width 0.15s ease-in-out, height 0.15s ease-in-out;
  @media (min-width: 750px) and (max-width: 1000px) {
    width: 19px;
    height: 19px;
  }
  @media (max-width: 500px) {
    width: 19px;
    height: 19px;
  }
}

/* Animation for pulsing effect */
@keyframes pulse {
  0%,
  110% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Slightly enlarge */
  }
}

.prodChangeLine {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 10px;
  overflow: hidden;
}

.lineMain {
  height: 34px;
  width: 50px;
  cursor: pointer;
  display: flex;
  align-items: end;
  border-bottom: 2px solid rgba(33, 35, 38, 0.3);
  box-sizing: border-box;
  transition: border-bottom 0.1s ease-in-out;
}

.lineMain:hover {
  border-bottom: 2px solid #000;
  transition: border-bottom 0.08s ease-in-out;
}

.lineActive {
  border-bottom: 5px solid #000 !important;
  transition: border-bottom 0.5s ease-in-out;
}

/* CrazyDeals Section */

.crazyDealsBannerMap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  @media (max-width: 980px) {
    gap: 20px;
  }

  @media (max-width: 750px) {
    display: flex;
    flex-wrap: nowrap;
    gap: 18px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    scrollbar-width: thin;
    padding-bottom: 5px;
  }

  @media (max-width: 500px) {
    gap: 12px;
  }
}

.cdImgBanner {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.cdBannerMain {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  overflow: hidden;
  @media (max-width: 750px) {
    min-width: 66vw;
    scroll-snap-align: start;
  }
}

.cdBannerImg {
  width: 100%;
  display: block;
  transition: transform 0.3s ease-in-out;
}

.cdBannerImg:hover {
  transform: scale(1.05);
}

.cdBannerName {
  position: relative;
  display: block;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16.8px;
  line-height: 21.6px;
  padding-bottom: 3px;
  letter-spacing: 0.63px;
  color: #000;
  @media (max-width: 750px) {
    font-size: 14px;
    line-height: 18px;
  }
}

/*  */

/* Shop By Notes */

.shopByNotesBannerMap {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
  @media (max-width: 980px) {
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 750px) {
    display: flex;
    flex-wrap: nowrap;
    gap: 18px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    scrollbar-width: thin;
    padding-bottom: 5px;
  }

  @media (max-width: 515px) {
    gap: 12px;
  }
}

.sbnBannerMain {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  overflow: hidden;
  @media (max-width: 750px) {
    min-width: 33vw;
    scroll-snap-align: start;
  }
}

/*  */

/* Why Bellavita */

.whyBellaVitaSuggestionMap {
  display: grid;
  align-items: start;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  margin-block: 16px;
  gap: 30px;
  @media (max-width: 990px) {
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.wbImgIcon {
  display: contents;
}

.cdBannerImgMain {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wbimage {
  width: 60px;
  height: 60px;
}

.wbSuggName {
  width: 100%;
  text-align: center;
  margin-top: 16.8px;
  @media (max-width: 750px) {
    margin-top: 14px;
  }
}

.wBDescription {
  text-align: center;
  font-size: 16px;
  letter-spacing: 22.4px;
  letter-spacing: 0.63px;
  color: rgba(33, 35, 38, 0.75);
  font-weight: 400;
  @media (max-width: 750px) {
    font-size: 14px;
  }
}

.wbMain {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-direction: column;
  overflow: hidden;
  @media (max-width: 750px) {
    gap: 2px;
  }
}

.bellaCashBanner {
  padding-inline: 50px;
  @media (max-width: 750px) {
    padding-inline: 15px;
  }
}

/*  */

/* ReviewSlider.css */

.reviewSlide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reviewProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.profileImg {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
}

.reviewText {
  margin-top: 40px;
  text-align: center;
  max-width: 720px;
  padding-inline: 4.9%;
  font-size: 18px;
  line-height: 1.5;
  color: #333;
  @media (max-width: 750px) {
    margin-top: 20px;
  }
}

.reviewName {
  display: block;
  font-size: 16px;
  margin-top: 10px;
  color: #666;

  @media (max-width: 750px) {
    margin-top: 5px;
  }
}

.slick-next,
.slick-prev {
  display: none !important;
  font-size: 30px;
  color: #00000092;
  z-index: 1;
}

.revSliderMain:hover .slick-next,
.revSliderMain:hover .slick-prev {
  display: block !important;
}

.slick-next:before,
.slick-prev:before {
  color: #00000090 !important;
}

.slick-slide {
  cursor: grab;
}

.slick-slide:active {
  cursor: grabbing;
}

.revSliderMain {
  max-width: 810px;
  padding-inline: 40px;
  margin: 0 auto;
  @media (max-width: 750px) {
    padding-inline: 15px;
  }
}

.rsName {
  font-style: italic;
  color: rgba(33, 35, 38, 0.45);
}

.instaReview {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.instaReviewHover {
  position: relative;
}

.instaReviewHover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.9px;
  width: 0;
  background-color: rgba(40, 40, 40, 0.423);
  transition: width 0.25s ease-in-out;
}

.instaReviewHover:hover::after {
  width: 100%;
}

.icon-instagram {
  width: 16px;
}

/* Image Mapping */

.imageMapping {
  padding-top: 27px;
  width: 100%;
  @media (max-width: 750px) {
    padding-top: 18px;
  }
}

.topImageMapping {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  @media (max-width: 1010px) {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: thin;
  }
  @media (max-width: 750px) {
    gap: 5px;
  }
}

.topSingleMapImg img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  display: block;

  @media (max-width: 1010px) {
    width: 33vw;
    height: 280px;
  }
  @media (max-width: 750px) {
    width: 75vw;
    height: 240px;
  }
}

.bottomMapSliderMain {
  width: 100%;
  overflow: hidden;
}

.bottomMapSlider {
  padding-block: 15px;
  height: 120px;
  display: flex;
  align-items: center;
  gap: 20px;
  width: max-content;
  animation: scroll 20s linear infinite;
  overflow: hidden;
  @media (max-width: 750px) {
    gap: 0;
    height: 90px;
    padding-block: 10px;
  }
}

.bottomSingleMapImg {
  max-width: 150px;
}

.bottomSingleMapImg img {
  height: 80px;
  max-width: 150px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.mmf {
  margin-inline: 20px;
}

/* Animation for scrolling */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Hover effect */
.bottomSingleMapImg:hover img {
  transform: scale(1.08);
}

/* Footer */

.footerMain {
  background-color: rgb(67, 67, 67);
}

.footerMain2 {
  max-width: 1100px;
  margin-inline: auto;
  padding-block: 70px;
  padding-inline: 50px;
  display: flex;
  flex-direction: column;
  background-clip: border-box;
  color: #fff;
  gap: 20px;
  @media (max-width: 750px) {
    padding-block: 10px;
    padding-inline: 15px;
    margin-inline: 0;
    gap: 0;
  }
}

.footerTop {
  display: flex;
  gap: 30px;
  @media (max-width: 750px) {
    display: none;
  }
}

.footerTopLeft {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-bottom: 15px;
  /* border: 1px solid red; */
  width: 65%;
  @media (max-width: 1050px) {
    width: 62.5%;
  }
}

.footerCatMain {
  width: 20%;
}

.footerTopRIght {
  /* border: 1px solid red; */
  padding-bottom: 10px;
  height: 100px;
  width: 35%;
  @media (max-width: 1050px) {
    width: 37.5%;
  }
}

.footerHeading {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2.8px;
  font-weight: 500;
  text-transform: uppercase;
  box-sizing: border-box;
  margin-bottom: 25px;
  word-wrap: break-word;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerCatItems li {
  position: relative;
  width: 100%;
  text-transform: capitalize;
  font-size: 14.5px;
  text-align: start;
  letter-spacing: 0.6px;
  font-weight: 500 !important;
  line-height: 21px;
  color: #ffffffde;
  cursor: pointer;
}

.footerCatItems li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0.9px;
  background-color: #fff;
  transition: width 0.25s ease-in-out;
}

.footerCatItems li:hover::after {
  width: 85%;
}

.footerCatItems ul {
  gap: 15px;
}

.footerTopRIght {
  height: 100%;
}

.footerTopRight2 {
  margin-left: auto;
  max-width: 320px;
}

.emailType {
  position: relative;
  width: 100%;
  @media (max-width: 750px) and (min-width: 355px) {
    width: 95%;
  }
}

.emailTypeBox {
  height: 100%;
  height: 45px;
  border: 0.8px solid transparent;
  border-bottom: 0.8px solid #ffff;
  padding-inline-start: 10px;
  padding-inline-end: 30px;
}

.emailInputBox {
  position: relative;
  border: none;
  height: 43px;
  width: 99%;
  font-size: 13px;
  font-family: myFont;
  background-color: transparent;
  color: #ffffff !important;
}

.emailTypeBox:hover {
  border-bottom: none;
  border: 0.8px solid #fff;
  transition: border 0.25s ease-in-out;
}

.arrowEMail {
  position: absolute;
  width: 13px;
  top: 19px;
  right: 10px;
  filter: invert(100%) brightness(200%);
  transition: filter 0.3s ease;
}

.bottomTextOfTopRight {
  font-size: 13px;
  letter-spacing: 0.5px;
  font-weight: 500 !important;
  line-height: 21px;
  color: #ffffffde;
}

.bottomTextOfTopRight1 {
  margin-top: 15px;
}

.bottomTextOfTopRight2 {
  margin-top: 10px;
}

.bottomTextLogos {
  display: flex;
  gap: 5px;
  margin-top: 30px;
  margin-left: -15px;
  @media (max-width: 1100px) {
    margin-left: -8px;
  }
}

.topRightLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.topRightLogo:hover {
  background-color: #ffffffdd;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  .bottomTextLogo {
    filter: none;
  }
}

.bottomTextLogo {
  cursor: pointer;
  width: 18px;
  height: 18px;
  object-fit: contain;
  filter: invert(100%) brightness(200%);
  transition: filter 0.1s ease;
}

.footerBottom {
  width: 100%;
  @media (max-width: 750px) {
    display: none;
  }
}

.keyWord {
  color: #ffffffdd;
  font-size: 12.2px;
  letter-spacing: 0.63px;
  line-height: 32.4px;
}

.tradeMark {
  position: relative;
  margin-top: 20px;
  color: #ffffffdd;
  font-size: 13px;
  letter-spacing: 0.63px;
  font-weight: 550;
  line-height: 32.4px;
  @media (max-width: 750px) {
    margin-top: 0px;
    margin-bottom: 20px;
    padding-inline: 20px;
  }
  @media (max-width: 355px) {
    padding-inline: 10px;
  }
}

.tradeMarkText {
  color: #fffffff2;
}

.tradeMarkText::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.7px;
  width: 0;
  transition: width 0.3s ease-in-out;
  background-color: #ffffffdd;
}

.tradeMarkText:hover::after{
  width: 100%;
}

.footerTop750px {
  display: none;
  @media (max-width: 750px) {
    display: block;
  }
}

.accordionMenu {
  margin: 0 auto;
}

.firstAccordion {
  word-wrap: break-word;
  border-top: 1px solid #ffffff56;
}

.footer750pxCatItems ul {
  padding-left: 22px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0px;
  margin-bottom: 40px;
  transition: max-height 0.8s ease-in-out;
}

.sideBarSubMenuLiIndexCss{
  cursor: auto;
}

.footer750pxCatItems .show {
  max-height: fit-content;
}

.footer750pxCatItems.hide {
  max-height: 0;
  overflow: hidden;
}

.footer750pxCatItems li {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  color: #ffffffde;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 25.5px;
  letter-spacing: 0.6px;
  word-wrap: break-word;
  white-space: wrap;
  text-align: start;
  box-sizing: border-box;
}

.footer750pxCatItems li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.5px;
  bottom: 0;
  left: 0;
  background-color: #ffffffdd;
  transition: width 0.25s ease-in-out;
}

.footer750pxCatItems li:hover::after{
  width: 100%;
}

.rightArrowTopFooter {
  width: 16px;
  filter: invert(100%) brightness(200%);
  transition: filter 0.3s ease;
}

.rotate-arrow {
  transform: rotate(180deg); /* Rotate arrow when active */
  transition: transform 0.3s ease;
}

.footerHeading750 {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2.8px;
  font-weight: 500;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 20px;
  word-wrap: break-word;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 355px) {
    padding-inline: 10px;
  }
}

.accordionTop {
  padding-block: 40px;
}

.footerCatItems750px {
  padding-left: 20px;
  @media (max-width: 355px) {
    padding-left: 10px;
  }
}

.footerHeading2 {
  margin-bottom: 5px !important;
}

.bottomTextLogoMini {
  width: 32px;
  height: 22px;
}

.bottomTextLogosMini {
  display: none !important;
}

.footerHeading2 {
  padding-left: 20px;
  @media (max-width: 355px) {
    padding-left: 10px;
  }
}
