.productPageMarqueeText {
  overflow: hidden;
  white-space: nowrap;
  background-color: #ffd200;
  padding: 12px;
  box-sizing: border-box;
  width: 100%;
  @media (max-width: 550px) {
    padding: 8px;
  }
}

.innerMarqueeText {
  display: inline-block;
  animation: scroll 20s linear infinite;
  font-size: 16px;
  letter-spacing: 0.83px;
  line-height: normal;
  text-transform: uppercase;
  font-weight: 500;
  @media (max-width: 550px) {
    font-size: 14px;
  }
}

.innerMarqueeText span {
  margin-right: 100px;
}

.productPageMarqueeText:hover .innerMarqueeText {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/*  */

.singleProductPageMain {
}

.singleProductPageMainTopSide {
  padding-block: 20px;
  display: flex;
  width: 100%;
  @media (max-width: 750px) {
    flex-direction: column;
  }
}

.leftSideSectionProductPage {
  /* border: 1px solid red; */
  width: 48%;
  padding-right: 2px;
  @media (max-width: 750px) {
    width: 100%;
  }
}

.productPageLeftSideMainImg img {
  width: 100%;
  display: block;
}

.productMainImgBorder {
  position: relative;
  overflow: hidden;
  border: 1px solid rgb(207, 207, 207);
}

.productMainImgBorder img {
  position: relative;
  transition: scale 0.5s ease-in-out;
}

.productMainImgBorder img:hover {
  scale: 1.07;
}

.productPageLeftSideImgMapping {
  margin-top: 10px;
  box-sizing: content-box;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 5px;
  overflow: auto;
  scrollbar-width: thin;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.imgMappingSingleImg {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid rgb(207, 207, 207);
  transition: border 0.3s ease-in-out;
}

.imgMappingSingleImg img {
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  transition: scale 0.5s ease-in-out;
}

.selectedImgBorder {
  border: 1px solid black !important;
}

.imgMappingSingleImg img:hover {
  scale: 1.1;
}

.productPageSpinnerLoader {
  width: 100%;
  display: flex;
  justify-content: center;
  scale: 0.5;
  align-items: center;
}

.productCardZoomBtn {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid rgb(207, 207, 207);
  background-color: #fff;
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  @media (max-width: 1100px) {
    top: 10px;
    right: 10px;
  }
  @media (min-width: 750px) and (max-width: 950px) {
    padding: 8px;
  }
  @media (max-width: 450px) {
    padding: 7px;
    top: 8px;
    right: 8px;
  }
}

.productCardZoomBtn img {
  width: 15px;
  opacity: 0.7;
  @media (min-width: 750px) and (max-width: 950px) {
    width: 13px;
  }
  @media (max-width: 400px) {
    width: 11px;
  }
}

/*  rightSideSectionProductPage */

.rightSideSectionProductPage {
  width: 52%;
  padding-left: 50px;
  padding-top: 10px;
  @media (max-width: 750px) {
    margin-top: 20px;
    width: 100%;
    padding-left: 0px;
  }
}

.ppPageName {
  font-weight: 500;
  line-height: 37.8px;
  margin-bottom: 2px;
  letter-spacing: 0.63px;
  color: rgb(26, 27, 24);
  word-break: break-word;
  font-size: 30.4px;
  @media (max-width: 550px) {
    font-size: 23px;
    line-height: 25.4px;
  }
}

.ppPageVariant {
  font-size: 13px;
  line-height: 22.8px;
  font-weight: 500;
  letter-spacing: 0.73px;
  color: rgba(33, 35, 38, 0.75);
  text-transform: uppercase;
  @media (max-width: 550px) {
    font-size: 11px;
    line-height: 18.5px;
  }
}

.productRatingAndShare {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productRatingProductPage {
  @media (max-width: 550px) {
    font-size: 12px !important;
  }
}

.productReviewsProductPage {
  @media (max-width: 550px) {
    font-size: 12px !important;
  }
}

.productPageShareIcon img {
  width: 20px;
  cursor: pointer;
}

.pricingAndQuantity {
  margin-top: 10px;
  gap: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.priceAndDiscountSection {
  display: flex;
  gap: 7px;
  justify-content: start;
  align-items: center;
}

.productPageDiscountPercentage {
  color: rgb(204, 12, 57);
  font-size: 19px;
  line-height: 19px;
  letter-spacing: 0.63px;
  @media (max-width: 550px) {
    font-size: 17px;
  }
}

.productPagePriceSection {
  font-size: 22.5px;
  line-height: 22.5px;
  letter-spacing: 0.63px;
  font-weight: 500;
  @media (max-width: 550px) {
    font-size: 19px;
  }
}

.productPageMrpSection {
  font-size: 13px;
  line-height: 19.6px;
  letter-spacing: 0.63px;
  color: rgba(33, 35, 38, 0.75);
}

.ppAddToCartBtn {
  width: 100% !important;
  margin-bottom: 30px;
}

.cartQuantityBtnProductPage {
  gap: 14px !important;
  padding-block: 2.5px !important;
  @media (max-width: 550px) {
    gap: 12px !important;
    padding-block: 1.75px !important;
  }
}

.ppBenefitsSection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  @media (max-width: 550px) {
    column-gap: 5px;
  }
}

.benefitSingle {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.6px;
  color: rgb(38, 32, 32);
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  word-break: break-word;
  text-align: center;
  gap: 10px;
  background-color: #f2f2f2;
  padding-block: 10px;
  padding-inline: 3px;
  @media (max-width: 550px) {
    font-size: 11px;
    line-height: 16px;
  }
}

.benefitSingle img {
  width: 35px;
}

.ppDescription {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 16px !important;
  line-height: 24.6px;
  color: rgba(33, 35, 38, 0.75);
  letter-spacing: 0.63px;
}

.productPageDescriptionText {
  margin-bottom: 20px;
}

.notesHeading {
  letter-spacing: 0.83px;
  color: rgb(38, 32, 32);
  font-weight: 600;
  text-transform: uppercase;
}

.expanded {
  line-height: 25px;
  margin-block: 10px;
  opacity: 0;
}

.readMoreReadLessBtn {
  width: 120px !important;
  min-height: 33px !important;
  margin-bottom: 30px;
}

.ppExclusiveOfferHeading {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.83px;
  line-height: 22px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  margin-bottom: 20px;

  @media (max-width: 550px) {
    font-size: 14.5px;
  }
}

.ppExclusiveOfferHeading img {
  width: 22px;
  @media (max-width: 550px) {
    width: 18px;
  }
}

.ppExclusiveOffers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  overflow: auto;
  scrollbar-width: smooth;
  padding-bottom: 2px;
  scrollbar-width: thin;
}

.offerSinglePP {
  min-width: 171px;
  background-color: #f2f2f2;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-inline: 2px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.offerSingleIconName {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  letter-spacing: 0.83px;
}

.offerSingleIconName img {
  width: 18px;
}

.offerSingleDesc {
  margin-top: 2px;
  padding-bottom: 5px;
  font-weight: 500;
  font-size: 12px;
  padding-inline: 4px;
  border-top: 0.4px solid transparent;
  border-left: 0.4px solid transparent;
  border-right: 0.4px solid transparent;
  border-bottom: 2px solid black;
  border-style: dashed;
}

.offerSingleCode {
  margin-top: 5px;
  font-size: 15px;
  letter-spacing: 0.83px;
}

.ppBannerSection {
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ppBannerSection img {
  width: 100%;
}

/* accordion */

.ppAccordionMenu {
  margin: 0 auto;
  margin-bottom: 40px;
  @media (max-width: 750px) {
    margin-bottom: 30px;
  }
}

.ppFirstAccordion {
  word-wrap: break-word;
  border-bottom: 1px solid rgb(207, 207, 207);
}

.ppAccordionInside {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0px;
  margin-bottom: 25px;
  transition: max-height 0.8s ease-in-out;
  @media (max-width: 550px) {
    padding-left: 10px;
    margin-bottom: 20px;
  }
}

.ppFooterHeading750 {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 1.5px;
  font-weight: 500;
  text-transform: uppercase;
  box-sizing: border-box;
  padding-block: 20px;
  padding-inline: 5px;
  word-wrap: break-word;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 550px) {
    font-size: 16px;
    line-height: 18px;
  }
  transition: color 0.3s ease-in-out;
}

.ppFooterHeading750:hover {
  color: rgba(33, 35, 38, 0.631);
  .ppRightArrowTopFooter {
    opacity: 0.6;
  }
}

.sideBarSubMenuLiIndexCss {
  cursor: auto;
}

.ppFooter750pxCatItems .show {
  max-height: fit-content;
}

.ppFooter750pxCatItems.hide {
  max-height: 0;
  overflow: hidden;
}

.ppFooter750pxCatItems {
  position: relative;
  cursor: pointer;
  color: rgba(33, 35, 38, 0.597);
  font-weight: 500;
  text-transform: capitalize;
  background-color: #fff !important;
  font-size: 15px;
  line-height: 22.5px;
  letter-spacing: 0.8px;
  word-wrap: break-word;
  white-space: wrap;
  text-align: start;
  box-sizing: border-box;
  @media (max-width: 550px) {
    font-size: 14px;
    line-height: 21.5px;
  }
}

.ppRightArrowTopFooter {
  width: 20px;
  @media (max-width: 550px) {
    width: 17px;
  }
}

.ppRotate-arrow {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.ppAccordionOtherInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.firstPurchaseImg img {
  width: 100%;
}

.ppAccordionNoteMapping {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: auto;
  column-gap: 15px;
  padding-top: 15px;
  padding-bottom: 30px;
  scrollbar-width: thin;
  padding-inline: 60px;
  @media (max-width: 1000px) {
    padding-inline: 25px;
  }
  @media (max-width: 750px) {
    padding-inline: 15px;
    padding-bottom: 20px;
  }
}

.noteMapSingle {
  min-width: 160px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 7px;
}

.noteMapSingle img {
  width: 100px !important;
}

.noteMapSingleDescription {
  font-size: 13px;
  text-align: center;
  line-height: 20px;
  @media (max-width: 550px) {
    font-size: 12.5px;
  }
}

.noteMapSingleName {
  font-size: 16px;
  letter-spacing: 1.23px !important;
  color: #000;
  @media (max-width: 550px) {
    font-size: 14px;
  }
}

.BestPairedWithSection {
  padding-bottom: 40px;
  padding-top: 10px;
  @media (max-width: 750px) {
    padding-bottom: 30px;
    padding-top: 10px;
  }
}

.BestPairedWithSectionHeading {
  font-size: 30.4px;
  font-weight: 550;
  line-height: 37.8px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  @media (max-width: 750px) {
    margin-bottom: 20px;
  }
  @media (max-width: 550px) {
    font-size: 22px;
    line-height: 28px;
  }
}

.mainStarRatingReviews {
  width: 18px;
}

.fiveStar {
  display: flex;
  gap: 4.3px;
  @media (max-width: 550px) {
    justify-content: center !important;
  }
}

.ratingAndReviewsCount {
  font-size: 14.5px;
  color: rgba(33, 35, 38, 0.823);
  letter-spacing: 0.83px;
  line-height: 32px;
  @media (max-width: 550px) {
    font-size: 13.5px;
  }
}

.writeReviewBtn {
  width: 150px !important;
  min-height: 34px !important;
  @media (max-width: 550px) {
    width: 100% !important;
    min-height: 37px !important;
  }
}

.ratingAndAddReview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-bottom: 0.4px solid rgb(207, 207, 207);
  padding-bottom: 5px;
  @media (max-width: 550px) {
    justify-content: center !important;
    flex-direction: column;
    padding-bottom: 10px;
  }
}

.bottomBannerSectionOfPP img {
  width: 100%;
}

.bottomBannerSectionOfPPMain {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 5px !important;
}

.onlyLipstickCatImageMap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 5px;
  overflow: auto;
  padding-bottom: 5px;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  margin-block: 20px;
  @media (max-width: 750px) {
    margin-block: 10px;
  }
}

.onlyLipstickCatImageMap img {
  width: 100%;
  min-width: 180px;
}

.reviewsMappingImageMain {
  display: flex;
  gap: 2px;
  overflow-x: auto;
  scrollbar-width: thin;
  scroll-behavior: sm;
}

.reviewImage {
  cursor: pointer;
  min-width: 140px;
  height: 140px;
  object-fit: cover;
  @media (max-width: 550px) {
    min-width: 90px;
    height: 90px;
  }
}

.reviewsSectionSingleReviewImages {
  justify-content: start !important;
}

.singleReviewNameAndIcon {
  padding: 0px !important;
}

.singleReviewDesc {
  padding: 0px !important;
  padding-top: 10px !important;
}

.loadMoreBtnReviews {
  min-height: 38.4px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  letter-spacing: 2.6px;
  line-height: 14.4px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #fff;
  border: 0.8px solid #000;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  gap: 5px;
  cursor: pointer;
}

.reviewsSectionLoadMoreBtn {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadMoreBtnReviews {
  filter: none !important;
  width: 160px !important;
}

.singleReviewMain{
  border-top: 0.2px solid rgb(207, 207, 207);
  padding-top: 15px;
  padding-bottom: 10px;
}

.reviewsMappingMain{
  padding-top: 30px;
}

.reviewSectionVerifiedAndName{
  display: flex;
  gap: 10px;
}

.reviewSectionVerifiedText{
  padding-block: 1px !important;
}

