/* @import url("https://db.onlinewebfonts.com/c/6138beb83221f6eb46ed08543a304d1d?family=Twentieth+Century"); */
@font-face {
  font-family: myFont;
  src: url(../public/TwentiethCentury.ttf);
}

* {
  --card-font: myFont;
  --card-font-style: normal;
  --card-font-weight: 500;
  --card-font-size: 17.2px;
  --card-line-height: 21.6px;
  --card-letter-spacing: 0.63px;
  --card-color: rgb(26, 27, 24);
  --card-min-height: 18px;
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-size: calc(var(--font-body-scale) * 62.5%);
  height: 100%;
  height: -webkit-fit-content;
  overflow-x: hidden;
}

body {
  font-family: var(--card-font);
  font-style: var(--card-font-style);
  font-weight: var(--card-font-weight);
  font-size: var(--card-font-size);
  line-height: var(--card-line-height);
  letter-spacing: var(--card-letter-spacing);
  color: var(--card-color);
  min-height: var(--card-min-height);
  box-sizing: border-box;
}

button {
  font-family: myFont;
}

a {
  text-decoration: none;
}

.homeMain {
  width: 100%;
}

img {
  width: 180px;
}

/* --Top Slider */

.mainSlider {
  width: 100%;
  background-color: rgb(23, 22, 21);
  display: flex;
  justify-content: center;
}

.sliderContainer {
  max-width: 1050px;
  width: 100%;
  height: 36px;
  color: #fff;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-out;
  width: calc(100% * 3);
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0.78px;
  line-height: 16.25px;
}

.arrow {
  width: 30px;
}

.prevBtn,
.nextBtn {
  background: rgb(23, 22, 21);
  border: none;
  cursor: pointer;
  z-index: 1;
  padding: 0 10px;
  opacity: 1;
}

.prevBtn:hover,
.nextBtn:hover {
  opacity: 1;
}

/* --Navbar  */

.mainNavbar {
  transition: top 0.3s ease-in-out;
  background-color: transparent;
  width: 100%;
  position: relative;
  top: 20;
  left: 0;
  border-bottom: 1.5px solid rgb(210, 213, 217);
  z-index: 1000;
}

/* Only for Home Component Navbar Color TransParent to White */
.mainHover {
  position: absolute;
  /* overflow: hidden; */
  border-bottom: 1px solid transparent;
  background-color: #0000000f;
}

.mainHover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  transform: scaleY(0);
  transition: transform 0.4s ease;
  z-index: 0;
}

.mainHover:hover::before {
  transform: scaleY(1);
}

.mainHover li a {
  color: #fff;
  position: relative;
  z-index: 1;
  transition: color 0.5s ease;
}

.mainHover:hover li a {
  color: rgb(40, 40, 40);
}

.mainHover .navIcon,
.mainHover .logo,
.mainHover .form,
.mainHover .sideBarIcon,
.mainHover .formLower {
  position: relative;
  filter: invert(100%) brightness(200%);
  transition: filter 0.3s ease;
  z-index: 1;
}

.mainHover:hover .navIcon,
.mainHover:hover .logo,
.mainHover:hover .form,
.mainHover:hover .sideBarIcon,
.mainHover:hover .formLower {
  filter: none;
}
/*  */

/* for Scrolling ScrollBar color adjust */
/* for other things i Use - sidebarOpenHover - directly*/
.liElements li a {
  color: #000000;
}
/*  */

/* -Top Navbar  */
.topNav {
  position: relative;
  padding-block: 5px;
  padding-bottom: 7px;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 50px;
  padding-top: 10px;
}

/* Input Field of Navbar */
.form button {
  border: none;
  background: none;
}

.form {
  --timing: 0.3s;
  --width-of-input: 188px;
  --height-of-input: 30px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-radius: 1px;
  --after-border-radius: 1px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.5em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: transparent;
  border-bottom: 1px solid #000;
}

.input {
  font-family: myFont;
  letter-spacing: 0.63px;
  font-size: 12.83px;
  font-weight: 400;
  font-style: normal;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  border: none;
  opacity: 0.7;
}

.form:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}

.form:focus-within {
  border-radius: var(--after-border-radius);
}

input:focus {
  outline: none;
}

.form:focus-within:before {
  transform: scale(1);
}

.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}

input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}

.form svg {
  width: 17px;
  margin-top: 3px;
}
/* --- */

.searchBar {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
  width: 30%;
}

.brandLogo {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 143.325px;
  height: 20px;
  padding: 3px;
}

.Nav_icons {
  height: 31px;
  width: 30%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.navIcon {
  height: 20px;
  width: 22px;
  padding-left: 28px;
}

.navIcon:hover {
  opacity: 0.6;
  scale: 1.05;
  transition: 0.2s ease-in-out;
}

/*  */

/* -Bottom Navbar */

.bottom {
  margin: 0 auto;
  max-width: 1100px;
  padding-top: 9px;
  padding-inline: 50px;
  padding-bottom: 7px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 25px;
}

li {
  font-size: 11.59px;
  text-transform: uppercase;
  list-style: none;
  font-weight: 600;
  letter-spacing: 2.4px;
  line-height: 21.6px;
}

li a {
  text-decoration: none;
  color: rgb(40, 40, 40);
  position: relative;
  padding-bottom: 5px;
}

li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.5px;
  width: 0;
  background-color: rgba(40, 40, 40, 0.423);
  transition: width 0.15s ease-in-out;
}

.navActive {
  color: #ea803d !important;
}

li a:hover::after,
.navActive::after {
  width: 100%;
  color: #ea803d;
}

li a:hover {
  color: #ea803d;
}

/*! Component scroll Navbar Jumping issue Code */

.liElements {
  position: absolute;
  /* overflow: hidden; */
  border-bottom: 1px solid rgb(210, 213, 217);
  background-color: #fff;
  padding-bottom: 3px;
}
/*  */
/* Home */

.topBanner {
  position: relative;
}

.BannerImage {
  width: 100%;
  display: block;
  margin-bottom: 0;
  padding-bottom: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.roundBtn {
  bottom: 40px;
  width: 8px;
  height: 8px;
  background-color: rgb(189, 186, 186);
  border: none;
  margin-right: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.roundBtn.active {
  background-color: #fff;
}

.btn {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slide-in {
  opacity: 0;
  transform: translateX(-100%);
  animation: slideIn 0.2s ease-in-out forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Sidebar */

.sideBarIcon {
  height: 22px;
  width: 22px;
  transition: all 0.5s ease-in-out;
  display: none;
}

/* for deployed version */
.css-6v2v4c {
  display: none !important;
}

.css-1apkmlw-MuiButtonBase-root-MuiButton-root {
  min-width: 0px !important;
  padding: 5.7px 0px !important;
}

.sideBarIcon:hover {
  opacity: 0.6;
  scale: 1.05;
  transition: 0.2s ease-in-out;
}

.closeIcon {
  background-color: #0000001b;
  border-radius: 50%;
}

.sideBarMenu {
  cursor: url(../src/assets/icons/xwhite.svg), auto;
}

/* for total all */
.css-1u2w381-MuiModal-root-MuiDrawer-root {
  /* top: 86.5px !important; */
}

/* for deployed version issues */
.css-y28f86 {
  /* top: 86.5px !important; */
}

/* for white background one */
.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.css-j400xw-MuiPaper-root-MuiDrawer-paper {
  /* top: 86.5px; */
  border-top: 1px solid rgb(210, 213, 217);
  background-color: #fff;
  cursor: default !important;
  width: 80%;
  overflow: hidden;
}

/* for deployed version issues */
.css-nsg84x {
  /* top: 86.5px !important; */
  border-top: 1px solid rgb(210, 213, 217);
  background-color: #fff;
  cursor: default !important;
  width: 80%;
}

.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.css-j400xw-MuiPaper-root-MuiDrawer-paper::-webkit-scrollbar {
  width: 6px;
  background-color: #fff;
}

.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.css-j400xw-MuiPaper-root-MuiDrawer-paper::-webkit-scrollbar-thumb {
  background-color: #5e5e5e;
  border-radius: 1.5px;
}

.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.css-j400xw-MuiPaper-root-MuiDrawer-paper::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

/* for transparent */
.MuiBackdrop-root.MuiModal-backdrop.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  /* top: 86.5px !important; */
}

/* for deployed version issues */
.css-919eu4 {
  /* top: 86.5px !important; */
}

.MuiPaper-root {
  --Paper-shadow: none !important;
}

/* for the smooth close of navbar */
.sidebarOpenHover {
  /* overflow: hidden; */
  .logo,
  .navIcon,
  .form,
  .sideBarIcon,
  .formLower,
  .brandLogo {
    filter: none !important;
  }
}

.sidebarOpenHover::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  transform: scaleY(1);
  transition: transform 0.5s ease;
  z-index: 0;
}

/*  */

/* Lower SearchBar */

.searchBarBig {
  padding-bottom: 6px;
  display: none;
}

.formLower button {
  border: none;
  background: none;
}

.formLower {
  --timing: 0.3s;
  --width-of-input: 93%;
  --height-of-input: 30px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-radius: 1px;
  --after-border-radius: 1px;
  margin: 0 auto;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.5em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: transparent;
  border-bottom: 1px solid #000;
}

.formLower:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}

.formLower:focus-within {
  border-radius: var(--after-border-radius);
}

.formLower svg {
  width: 17px;
  margin-top: 3px;
}

.formLower:focus-within:before {
  transform: scale(1);
}

/* Navbar */

@media (min-width: 1400px) {
  .topNav {
    padding-bottom: 5px;
  }
}

@media (max-width: 1030px) {
  .sideBarIcon {
    display: block;
  }
  /* for deployed version */
  .css-6v2v4c {
    display: block !important;
  }
  .bottom {
    display: none;
  }
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.css-j400xw-MuiPaper-root-MuiDrawer-paper {
    width: 435px !important;
  }
  .css-nsg84x {
    width: 435px !important;
  }
}

@media (max-width: 834px) {
  .form {
    display: none;
  }
  .searchBarBig {
    display: block;
  }
  .css-1u2w381-MuiModal-root-MuiDrawer-root {
    /* top: 122.5px !important; */
  }

  /* for deployed version issues */
  .css-y28f86 {
    /* top: 122.5px !important; */
  }

  /* for white background one */
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.css-j400xw-MuiPaper-root-MuiDrawer-paper {
    /* top: 122.5px; */
    border-top: 1px solid rgb(210, 213, 217);
    background-color: #fff;
    cursor: default !important;
    width: 85%;
  }

  /* for deployed version issues */
  .css-nsg84x {
    /* top: 122.5px !important; */
    border-top: 1px solid rgb(210, 213, 217);
    background-color: #fff;
    cursor: default !important;
    width: 85%;
  }

  /* for transparent */
  .MuiBackdrop-root.MuiModal-backdrop.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
    /* top: 122.5px !important; */
  }

  /* for deployed version issues */
  .css-919eu4 {
    /* top: 122.5px !important; */
  }
}

@media (max-width: 750px) {
  .bottom-Slide {
    display: block;
    padding: 4px 15px;
    padding-bottom: 9px;
    border-bottom: none;
    color: #000;
  }
  .bottomSlider2 {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    position: relative;
    overflow-x: auto !important;
    scroll-behavior: smooth;
    flex-wrap: nowrap !important;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
  }
  li {
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    font-weight: 600;
    padding: 3px 6px;
    font-size: 11.5px;
    background-color: #f2f2f2;
    border-radius: 3px;
  }

  .menuOptName {
    color: #000;
  }

  .bottom-Slide li a:hover::after,
  .navActive::after {
    width: 0%;
    color: #ea803d;
  }
  html {
    scrollbar-width: thin;
  }
  .mainNavbar {
    max-width: 100%;
  }
  .topNav {
    padding-inline: 25px;
    max-width: 95%;
  }
  .searchBar {
    padding: 0;
  }
  .hamburgMenu {
    padding: 0;
  }
  .profileIcon {
    display: none;
  }
  .BannerImage {
    aspect-ratio: auto 800 / 1070;
    object-fit: contain;
  }
  .formLower {
    width: 90%;
  }
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.css-j400xw-MuiPaper-root-MuiDrawer-paper {
    width: 87% !important;
  }
  .css-nsg84x {
    width: 87% !important;
  }
}

@media (max-width: 420px) {
  .topNav {
    padding-inline: 20px;
    max-width: 95%;
  }
  .brandLogo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo {
    width: 126.325px;
  }
  .slide {
    font-size: 11.8px;
  }
}

/* Sidebar Content */

.sideBarContent {
  width: 100%;
  position: relative;
}

.installApp {
  border-bottom: 1px solid rgb(210, 213, 217);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-block: 18px;
  padding-left: 10px;
  cursor: pointer;
}

.appProfileLogo {
  width: 35px;
  height: 35px;
  padding: 8px;
  border: 1px solid #707070;
  border-radius: 50%;
}

.profileLogo {
  display: flex;
}

.appText {
  color: #000000ce;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: start;
  align-items: start;
}

.yellowText {
  color: #e19f40;
  font-weight: 600;
  font-size: 15px;
}

.black-bold {
  color: #000;
}

.underlineText {
  font-weight: 300;
  font-size: 14px;
  border-bottom: 1px solid black;
  padding-bottom: 3px;
}

.DownloadBtn {
  color: #fff;
  background: #eb7272;
  padding: 5px 10px;
}

@media (max-width: 570px) {
  .installApp {
    gap: 5px;
  }
}

@media (max-width: 420px) {
  .yellowText {
    font-size: 13px;
  }
}

@media (max-width: 350px) {
  .installApp {
    padding: 10px 3px;
    overflow: hidden;
  }
}

.myOrderTrackOrder {
  position: relative;
  display: flex;
  padding: 10px;
  gap: 20px;
  justify-content: space-between;
  border-bottom: 1px solid rgb(210, 213, 217);
}

.myOrder,
.trackOrder {
  cursor: pointer;
  display: flex;
  background-color: #9f9d9d1a;
  align-items: center;
  gap: 10px;
  padding: 7px 10px;
  flex-wrap: wrap;
  flex: none;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  border-radius: 2px;
}

.myOrderImg {
  width: 18px;
}

.menuOptions {
  overflow: auto !important;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  color: #000;
}

.menuOption {
  padding: 10px;
  border-bottom: 1px solid rgb(210, 213, 217);
  font-size: 16px;
  line-height: 29px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  cursor: pointer;
}

.left {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.menuOptionContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.menuOptLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuOptLogo img {
  width: 20px;
}

.right img {
  width: 18px;
}

.right img:hover {
  transform: scale(1.2);
  transition: all 0.5s ease;
}

.menuOptName {
  text-align: center;
  color: #000;
}

.menuBanner img {
  width: 100%;
}

/* Home CSS (Below banner)*/

.buy1get1Banner {
  width: 100%;
}

.buy1get1Banner img {
  width: 100%;
}

.full-width {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.categoryBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #afafaf7f;
  font-size: 26px;
  @media (max-width: 750px) {
    font-size: 18px;
  }
}

.categoryBtn button {
  background-color: transparent;
  border: none;
  color: #afafaf7f;
  cursor: pointer;
  font-size: 29.5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 37.8px;
  margin-bottom: 30px;
  @media (max-width: 750px) {
    font-size: 21px;
    margin-bottom: 20px;
  }
}

.newArrivalBtn {
  line-height: 28px !important;
}

.middleArrow {
  height: 37.8px;
  display: flex;
  align-items: center;
}

.middleArrowMain {
  height: 37.8px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.activeTab {
  color: #000 !important;
}

/*! Product Card Main Start*/

.mainDiv {
  max-width: 1100px;
  width: 93%;
  padding-block: 32px;
  @media (max-width: 950px) {
    width: 93%;
  }
  @media (max-width: 750px) {
    width: 94%;
    padding-block: 24px;
  }
}

.categoryCard {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  scrollbar-width: none;
  gap: 23px;
  @media (max-width: 1150px) {
    gap: 20px;
  }
  @media (max-width: 1010px) {
    gap: 18px;
  }
  @media (max-width: 950px) {
    gap: 22px;
  }
  @media (max-width: 749px) {
    gap: 18px;
    scrollbar-width: thin;
  }
}

.card {
  /* border: 1px solid red; */
  position: relative;
  flex-shrink: 0;
  width: 23.4%;
  /* width: 256px; */
  /* height: 488px; */
  overflow: hidden;
  @media (max-width: 950px) {
    width: 48.5%;
  }
  @media (max-width: 749px) {
    width: 72.5%;
  }
  @media (max-width: 490px) {
    width: 71.5%;
  }
  @media (max-width: 480px) {
    width: 60.8%;
  }
}

.cardImg {
  background-color: #f2f2f2;
  overflow: hidden;
}

.cardImg2 {
  cursor: pointer;
  width: 100%;
  padding-block: 30px;
  transition: all 0.2s ease-in-out;
  @media (max-width: 950px) {
    padding-block: 50px;
  }
  @media (max-width: 600px) {
    padding-block: 45px;
  }
  @media (max-width: 510px) {
    padding-block: 35px;
  }
  @media (max-width: 480px) {
    padding-block: 30px;
  }
  @media (max-width: 436px) {
    padding-block: 27px;
  }
  @media (max-width: 410px) {
    padding-block: 15%;
  }
  @media (max-width: 360px) {
    padding-block: 9%;
  }
  @media (max-width: 300px) {
    padding-block: 7%;
  }
}

.cardImg2:hover {
  scale: calc(1.05);
}

.card-badge {
  position: absolute;
  top: 10px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  color: #fff;
  word-break: break-word;
  -webkit-font-smoothing: antialiased;
  padding-left: 10px;
  font-weight: 550;
  text-transform: uppercase;
  text-align: center;
  @media (max-width: 480px) {
    font-size: 10px;
  }
}

.bogoBadge {
  padding-block: 1px;
  width: 109px;
  background-color: rgb(150, 118, 207);
  border: 0.8px solid rgb(150, 118, 207);
  @media (max-width: 480px) {
    width: 92.05px;
    padding-block: 0;
  }
}

.bestSellerBadge {
  padding-block: 1px;
  width: 75.45px;
  background-color: rgb(216, 162, 116);
  border: 0.8px solid rgb(216, 162, 116);
  @media (max-width: 480px) {
    width: 62.9125px;
    padding-block: 0;
  }
}

.newBadge {
  padding-block: 1px;
  width: 46.55px;
  border: 0.8px solid rgb(219, 118, 105);
  background-color: rgb(219, 118, 105);
  @media (max-width: 480px) {
    width: 34.45px;
    padding-block: 0;
  }
}

.cardBottomText {
  padding-top: 6px;
  display: flex;
  flex-direction: column;
  @media (max-width: 1100px) {
    padding-top: 0px;
  }
}

.ratingReviews {
  display: flex;
  padding: 0px;
  align-items: center;
  @media (max-width: 1100px) {
    height: 30px;
  }
  @media (max-width: 510px) {
    height: 38px;
  }
}

.ratingReviews img {
  width: 10px;
}

.cardProductVariant {
  color: rgba(33, 35, 38, 0.65);
  font-size: 10px;
  letter-spacing: 0.6px;
  line-height: 12px;
  margin-top: 10px;
  text-align: left;
  overflow: hidden;
  text-transform: uppercase;
  unicode-bidi: isolate;
  text-overflow: ellipsis;
  -webkit-font-smoothing: antialiased;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box !important;
  min-height: 10px;
  margin-bottom: 0 !important;
}

.cardProductName {
  box-sizing: border-box;
  color: rgb(26, 27, 24);
  cursor: pointer;
  display: -webkit-box !important;
  font-size: 16.8px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.63px;
  line-height: 21.6px;
  margin-top: 2px;
  min-height: 18px;
  overflow: hidden;
  padding-bottom: 2px;
  text-align: left;
  text-decoration-color: rgb(26, 27, 24);
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  text-overflow: ellipsis;
  -webkit-font-smoothing: antialiased;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  @media (max-width: 749px) {
    font-size: 15.7px;
  }
}

.ratingReviews {
  color: rgb(33, 35, 38);
  display: flex;
  align-items: center;
  font-weight: 550;
  text-align: left;
  gap: 2px;
}

.productRating,
.productReviews {
  font-style: normal;
  font-size: 13.3px;
  gap: 4px;
  display: flex;
  align-items: center;
  @media (max-width: 353px) {
    font-size: 12px;
  }
  @media (max-width: 334px) {
    font-size: 10px;
  }
}

.productRating img,
.productReviews img {
  width: 14px;
  height: 14px;
}

.middleArrow {
  color: #afafafb3;
}

.cardProductPrice {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.6px;
  letter-spacing: normal;
  justify-content: normal;
  @media (max-width: 480px) {
    font-size: 15px;
  }
}

.addToCartBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-block: 10px;
  font-size: 16px;
  height: 40px;
  column-gap: 10px;
  color: rgb(33, 35, 38);
  letter-spacing: 0.6px;
  line-height: 28.8px;
  overflow: hidden;
  text-align: center;
}

.addToCartBtn button {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  transition: all 0.3s ease-in-out;
  text-align: center;
  background-color: rgb(23, 22, 21);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  letter-spacing: 2.4px;
  line-height: 14.4px;
  min-height: 40px;
  font-weight: bold;
  border: 0.8px solid rgb(23, 22, 21);
  outline: none;
  overflow: hidden;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  text-wrap: nowrap;
}

.addToCartBtn button:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.addToCartBtn button::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -200px;
  opacity: 0.8;
}

.addToCartBtn button:hover::after {
  animation: shine 2s ease-out infinite;
}

.addToCartBtn button::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -200px;
  opacity: 0.8;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}

/*! Product Card Main End*/

.viewAll {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 28.8px;
  text-align: center;
  margin-top: 30px;
  letter-spacing: 0.6px;
}

.viewAll button {
  height: 50px;
  width: 240px;
  font-size: 13px;
  letter-spacing: 2.6px;
  line-height: 15.6px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid #000;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  @media (max-width: 750px) {
    height: 45px;
  }
}

.viewAll button::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.viewAll button::after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: rgb(23, 22, 21);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.viewAll button:hover {
  color: #fff;
}

.viewAll button:hover::before {
  top: -35%;
  background-color: rgb(23, 22, 21);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.viewAll button:hover::after {
  top: -45%;
  background-color: rgb(23, 22, 21);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.navBarHoverMenu {
  position: relative;
}

.onHoverMenu {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 105%;
  left: 0;
  background-color: #fff;
  color: #000;
  min-width: 160px;
  z-index: 999;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  transition: max-height 0.25s ease-in-out;
  padding-block: 0;
}

.navBarHoverMenu:hover .onHoverMenu {
  max-height: 300px;
  padding-block: 10px;
}

@keyframes downIn {
  from {
    opacity: 0;
    transform: translateY(-0%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.onHoverMenuOpt {
  padding-left: 17.5px;
  padding-block: 7.5px;
  cursor: pointer;
}

.onHoverMenuOpt:hover {
  background-color: rgba(234, 227, 223, 0.8); /* Highlight option on hover */
}

.downArrowIndexCss {
  filter: none !important;
}

.sideBarSubMenuLiIndexCss {
}

.sideBarSubMenuLiIndexCss ul {
  padding-left: 25px !important;
  margin-block: 10px !important;
  @media (max-width: 320px) {
    padding-left: 15px !important;
    margin-block: 5px !important;
  }
}

.sideBarSubMenuLiIndexCss li {
  list-style: inside;
  color: #000000ca !important;
  font-size: 14px;
  text-transform: uppercase;
  padding-block: 8px;
  @media (max-width: 320px) {
    font-size: 13px;
  }
}

.sideBarSubMenuLiIndexCss li::after {
  background-color: #0000007c !important;
}